KAVYANSH SHANDILYA - 24110163

QUESTION 1

In [ ]:
import math
import statistics
nat_num = list(range(1,21))
even_sum = sum(i for i in nat_num if i%2 == 0)
odd_prod = math.prod(i for i in nat_num if i%2!= 0)
mean = statistics.mean(nat_num)
mode = statistics.mode(nat_num)
median = statistics.median(nat_num)
print(even_sum,odd_prod,mean,median,mode,)

QUESTION 2

>Mutable data types are data types that can be modified with user commands. ex- Lists, Dictionaries whereas
>Immutable data types do not allow this modification. Ex - tuples, strings

QUESTION 3

In [93]:
def generate_fibonacci(n):
    if n <= 0:
       return []
    elif n == 1:
        return [0]
    elif n == 2:
        return [0, 1]

    fib_sequence = [0, 1]
    for _ in range(2, n):
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return fib_sequence
n = 15
fibonacci_numbers = generate_fibonacci(n)
print(f"The first {n} Fibonacci numbers: {fibonacci_numbers}")

The first 15 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

QUESTION 4

In [5]:
import statistics
lst = [3, 5, 7, 9, 11, 13]
lst.insert(3, 6)
lst.remove(7)
lst.reverse()
mean = statistics.mean(lst)
median = statistics.median(lst)
print("Modified List:", lst)
print("Mean:", mean)
print("Median:", median)

Modified List: [13, 11, 9, 6, 5, 3]
Mean: 7.833333333333333
Median: 7.5

QUESTION 5

In [91]:
numbers = list(map(int, input("Enter numbers (comma-separated): ").split(',')))
mean = sum(numbers) / len(numbers)
smallest = min(numbers)
largest = max(numbers)
print("Mean:", mean)
print("Smallest number:", smallest)
print("Largest number:", largest)

Enter numbers (comma-separated):  12,3,1,3,24,4,34,3,23,13,32,3,2

Mean: 12.076923076923077
Smallest number: 1
Largest number: 34

QUESTION 6

In [6]:
def is_palindrome(s):
    s = ''.join(c.lower() for c in s if c.isalnum())
    return s == s[::-1]

input_string = "A man a plan a canal Panama"
print("Is Palindrome:", is_palindrome(input_string))

Is Palindrome: True

QUESTION 7

In [90]:
students = {"Alice": 85, "Bob": 72, "Charlie": 90, "David": 60}
average_marks = sum(students.values()) / len(students)
above_average = [name for name, marks in students.items() if marks > average_marks]
print("Average Marks:", average_marks)
print("Students scoring above average:", above_average)

Average Marks: 76.75
Students scoring above average: ['Alice', 'Charlie']

QUESTION 9

In [10]:
dict1 = {'a': 10, 'b': 20}
dict2 = {'b': 5, 'c': 15}
merged_dict = {key: dict1.get(key, 0) + dict2.get(key, 0) for key in set(dict1) | set(dict2)}
print("Merged Dictionary:", merged_dict)

Merged Dictionary: {'c': 15, 'b': 25, 'a': 10}

QUESTION 10

In [89]:
def analyze_character_frequency(input_string):
    input_string = input_string.lower()
    frequency = {}
    for char in input_string:
        if char.isalnum(): 
            frequency[char] = frequency.get(char, 0) + 1
    print("Character Frequencies:", frequency)
input_string = input("Enter a string:")
char_frequencies = analyze_character_frequency(input_string)

Enter a string: hey I am an IITian, I study in IIT Gandhinagar. There are total 23 IITs in india,students from these IITs get a good career opportunities worldwide.

Character Frequencies: {'h': 4, 'e': 12, 'y': 2, 'i': 19, 'a': 11, 'm': 2, 'n': 9, 't': 14, 's': 7, 'u': 3, 'd': 7, 'g': 4, 'r': 8, 'o': 7, 'l': 2, '2': 1, '3': 1, 'f': 1, 'c': 1, 'p': 2, 'w': 2}

QUESTION 11

In [7]:
from statistics import mean, median

def remove_duplicate(any_list):
    unique_list = []
    for item in any_list:
        if item not in unique_list:
            unique_list.append(item)
    unique_mean = mean(unique_list)
    unique_median = median(unique_list)
    return unique_list, unique_mean, unique_median
    
input_list = [10,20,10,30,20,40,50,30,60,80,60,10,30]
unique_list, unique_mean, unique_median = remove_duplicate(input_list)

print("Original List:", input_list)
print("Unique List:", unique_list)
print("Mean of Unique Elements:", unique_mean)
print("Median of Unique Elements:", unique_median)

Original List: [10, 20, 10, 30, 20, 40, 50, 30, 60, 80, 60, 10, 30]
Unique List: [10, 20, 30, 40, 50, 60, 80]
Mean of Unique Elements: 41.42857142857143
Median of Unique Elements: 40

QUESTION 12

In [10]:
def analyze_strings(strings):
    longest_string = max(strings, key=len)
    vowels = {'a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'}
    count_vowel_start = sum(1 for s in strings if s and s[0] in vowels)
    
    return longest_string, count_vowel_start
strings = ["apple", "banana", "orange", "umbrella", "Indian_Institute_of_Technology", "elephant", "grape"]
longest, vowel_count = analyze_strings(strings)
print("Longest String:", longest)
print("Number of Strings Starting with a Vowel:", vowel_count)

Longest String: Indian_Institute_of_Technology
Number of Strings Starting with a Vowel: 5

QUESTION 13

In [11]:
def sort_by_key(data, key):
    def get_key(item):
        return item[key]
    return sorted(data, key=get_key)
data = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 22}]
sorted_data = sort_by_key(data, 'age')
print(sorted_data)

[{'name': 'Bob', 'age': 22}, {'name': 'Alice', 'age': 25}]

QUESTION 14

In [12]:
def filter_and_sort_words(input_string):
    words = input_string.split()
    filtered_words = [word for word in words if len(word) >= 4]
    return filtered_words
input_string = "I study in IIT gandhinagar for BTech 4 year program"
result = filter_and_sort_words(input_string)
print(result)

['study', 'gandhinagar', 'BTech', 'year', 'program']

QUESTION 15

In [13]:
def find_anagrams(word, words):
    sorted_word = sorted(word)
    return [w for w in words if sorted(w) == sorted_word]
word = "listen"
words = ["enlist", "google", "inlets", "banana"]
result = find_anagrams(word, words)
print(result)

['enlist', 'inlets']

QUESTION 16

In [14]:
def list_operations(list1, list2):
    set1, set2 = set(list1), set(list2)
    intersection = list(set1 & set2) 
    union = list(set1 | set2)
    symmetric_difference = list(set1 ^ set2)
    return intersection, union, symmetric_difference
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

intersection, union, symmetric_difference = list_operations(list1, list2)
print("Intersection:", intersection)
print("Union:", union)
print("Symmetric Difference:", symmetric_difference)

Intersection: [4, 5]
Union: [1, 2, 3, 4, 5, 6, 7, 8]
Symmetric Difference: [1, 2, 3, 6, 7, 8]

QUESTION 17

In [20]:
def file_operations():
    numbers = [1, 2, 3, 4, 69]
    with open("numbers.txt", "w") as file:
        for num in numbers:
            file.write(f"{num}\n")
    print("Numbers written to file successfully.")
    total_sum = 0
    with open("numbers.txt", "r") as file:
        for line in file:
            total_sum += int(line.strip())

    print(f"The sum of the numbers is: {total_sum}")
    return total_sum
file_operations()

Numbers written to file successfully.
The sum of the numbers is: 79

79

QUESTION 18

In [84]:
def word_counter(file):
    word_count = {}
    with open("file.txt",'r') as file:
        for line in file:
            words = line.strip().split()
            for word in words:
                word = word.lower().strip()
                if word in word_count:
                    word_count[word] += 1
                else:
                    word_count[word] = 1
    return word_count
def most_frequent_word(word_count):
    max_count = 0
    for word,count in word_count.items():
        if count > max_count:
            max_count = count
            most_frequent = word
    return most_frequent,max_count
file1 = "file.txt"
ultimate_result = word_counter(file1)
print(ultimate_result)

{'hey': 1, 'i': 2, 'am': 1, 'an': 1, 'iitian,': 1, 'study': 1, 'in': 2, 'iit': 1, 'gandhinagar.': 1, 'there': 1, 'are': 1, 'total': 1, '23': 1, 'iits': 2, 'india,students': 1, 'from': 1, 'these': 1, 'get': 1, 'a': 1, 'good': 1, 'career': 1, 'opportunities': 1, 'worldwide.': 1}

QUESTION 19

In [14]:
import random
import numpy as np
numbers = np.random.randint(1,50,100)
with open("numbers2.txt",'w') as file:
    for i in numbers:
        file.write(f"{i}\n")
numbers_from_file = []
with open("numbers2.txt",'r') as file:
    for line in file:
        numbers_from_file.append(int(line.strip()))

mean = np.mean(numbers_from_file)
print(f"mean is:{mean: .2f}")

mean is: 26.01

QUESTION 20

In [23]:
import csv
def sum_column(csv_file, column_name):
    total = 0
    with open(csv_file, 'r') as file:
        reader = csv.DictReader(file)
        for row in reader:
            total += float(row[column_name])
    return total
csv_file = 'data.csv'  
column_name = 'amount'
result = sum_column(csv_file, column_name)
print(f"Sum of '{column_name}': {result}")

Sum of 'amount': 1180.0

QUESTION 21

In [25]:
import statistics

def basic_statistics(numbers):
    mean = statistics.mean(numbers)
    median = statistics.median(numbers)
    mode = statistics.mode(numbers)
    stdev = statistics.stdev(numbers)
    
    return mean, median, mode, stdev

numbers = [1, 90, 22, 48, 40, 53, 61]
mean, median, mode, stdev = basic_statistics(numbers)

print(f"Mean: {mean}")
print(f"Median: {median}")
print(f"Mode: {mode}")
print(f"Standard Deviation: {stdev: .4f}")

Mean: 45
Median: 48
Mode: 1
Standard Deviation:  28.4136

QUESTION 22

In [63]:
import random

list1 = []
for _ in range(10):
    numbers = random.uniform(0,1)
    list1.append(round(numbers,2))
    
def normalisation(any_list):
    for i in any_list:
        formula = round((i - min(any_list))/(max(any_list)-min(any_list)),2)
        print(formula,end = '  ')
result = normalisation(list1)

0.26  0.83  1.0  0.27  0.23  0.9  0.0  0.51  0.93  0.11

QUESTION 23

In [76]:
number = int(input("Enter a number:"))
if number%2 == 0:
    print("The number is even")
else:
    print("The number is false")

Enter a number: 1320981973824413423523174

The number is even

QUESTION 24

In [77]:
def calculate_letter_grade(numerical_grade):
    if 90 <= numerical_grade <= 100:
        return 'A'
    elif 80 <= numerical_grade < 90:
        return 'B'
    elif 70 <= numerical_grade < 80:
        return 'C'
    elif 60 <= numerical_grade < 70:
        return 'D'
    elif 0 <= numerical_grade < 60:
        return 'F'
    else:
        return 'Invalid grade. Please enter a number between 0 and 100.'
try:
    numerical_grade = float(input("Enter the numerical grade (0-100): "))
    letter_grade = calculate_letter_grade(numerical_grade)
    print(f"The letter grade is: {letter_grade}")
except ValueError:
    print("Invalid input. Please enter a numeric value.")

Enter the numerical grade (0-100):  84

The letter grade is: B

QUESTION 25

In [83]:
def is_leap_year(year):
    if year%4 == 0 and year%100 != 0 or year%400 == 0:
        return (True,"it is a leap year")
    else:
        return (False,"Not a leap year")
year = int(input("Enter a year:"))
result = is_leap_year(year)
print(result)

Enter a year: 2020

(True, 'it is a leap year')